aiohttp
aioredis
async-timeout
attrs
beautifulsoup4
bs4
certifi
charset-normalizer
click
et-xmlfile
filelock
flask
frozenlist
gunicorn
huggingface-hub
idna
itsdangerous
jellyfish
jinja2
joblib
markupsafe
multidict
nltk
numpy
openai
openpyxl
packaging
pandas
python-dateutil
pytz
pyyaml
regex
requests
six
soupsieve
tokenizers
tqdm
transformers
typing_extensions
urllib3
us
Werkzeug
yarl
